[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coinbase-advanced-py = "*"
python-binance = "*"
black = "*"
pylint = "*"
pytest = "*"
isort =  "*"
pre-commit = "*"
bandit = "*"
vulture = "*"

[requires]
python_version = "3.8"
